.layout .display-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.layout.no-outer-padding {
  padding-left: 0;
  padding-right: 0;
}

/* Admin Styles */
.layout-builder__layout.layout .display-grid {
  position: relative;
  padding-bottom: 60px;
}

.layout-builder__layout.layout .display-grid .layout-builder__add-block {
  position: absolute;
  bottom: 0;
}

.layout-builder__layout.layout .display-grid .layout-builder__add-block {
  position: absolute;
  bottom: 0;
  left: 25%;
  transform: translateX(-50%);
}

.layout-builder__layout.layout .display-grid .layout-builder__add-block:last-child {
  left: auto;
  right: 25%;
  transform: translateX(50%);
}