{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{{ attach_library('koality_layout_builder_layouts/core') }}
{%
  set classes = [
    'layout',
    'layout--one-center-region',
    settings.margin_top,
    settings.margin_bottom,
    settings.layout_width,
    settings.layout_color,
    settings.remove_side_gutters ? 'no-outer-padding' : ''
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {% if content.title %}
      <div {{ region_attributes.title.addClass('layout__region', 'layout__region--title') }}>
        {{ content.title }}
      </div>
    {% endif %}

    {% set inner_attributes = create_attribute() %}
    {% set inner_classes = [
      'layout--inner',
      'flex-container',
      'flex-dir-column',
      'flex-jc-center',
      settings.remove_top_bottom_padding ? 'remove-padding',
      (settings.layout_width == 'full-width') ? 'row' : ''
    ] %}
    <div {{ inner_attributes.addClass(inner_classes) }}>
      <div {{ region_attributes.content.addClass('layout__region', 'layout__region--content', settings.region_color) }}>
        {{ content.content }}
      </div>
    </div>
  </div>
{% endif %}
