{#
/**
 * @file
 * Default theme implementation to display a two-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{{ attach_library('koality_layout_builder_layouts/core') }}
{%
  set classes = [
    'layout',
    'layout--two-center-regions',
    'layout-content-overlay',
    settings.margin_top,
    settings.layout_width,
    settings.layout_color
  ]
%}

{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {% if content.title %}
      <div {{ region_attributes.title.addClass('layout__region', 'layout__region--title') }}>
        {{ content.title }}
      </div>
    {% endif %}

    {% set inner_attributes = create_attribute() %}
    {% set inner_classes = [
      'layout--inner',
      (settings.stack == 1) ? 'flex-dir-column lg-flex-dir-row' : 'flex-dir-row',
      (settings.stack == 0) ? 'flex-no-stack' : '',
      (settings.grid == 1) ? 'display-grid' : 'flex-container',
      'flex-jc-flex-start',
      'flex-ai-stretch',
      settings.remove_top_bottom_padding ? 'remove-padding',
      settings.gutters ? 'flex-gutters',
      (settings.layout_width == 'full-width') ? 'row' : '',
      settings.remove_side_gutters ? 'no-outer-padding' : ''
    ] %}

    <div {{ inner_attributes.addClass(inner_classes) }}>

      {% if settings.resizer == '80/20' %}
        {% set left_column_class = 'lg-flex-4-5' %}
        {% set right_column_class = 'lg-flex-1-5' %}
      {% elseif settings.resizer == '20/80' %}
        {% set left_column_class = 'lg-flex-1-5' %}
        {% set right_column_class = 'lg-flex-4-5' %}
      {% elseif settings.resizer == '75/25' %}
        {% set left_column_class = 'lg-flex-3-4' %}
        {% set right_column_class = 'lg-flex-1-4' %}
      {% elseif settings.resizer == '25/75' %}
        {% set left_column_class = 'lg-flex-1-4' %}
        {% set right_column_class = 'lg-flex-3-4' %}
      {% elseif settings.resizer == '70/30' %}
        {% set left_column_class = 'lg-flex-7-10' %}
        {% set right_column_class = 'lg-flex-3-10' %}
      {% elseif settings.resizer == '30/70' %}
        {% set left_column_class = 'lg-flex-3-10' %}
        {% set right_column_class = 'lg-flex-7-10' %}
      {% elseif settings.resizer == '33/66' %}
        {% set left_column_class = 'lg-flex-1-3' %}
        {% set right_column_class = 'lg-flex-2-3' %}
      {% elseif settings.resizer == '66/33' %}
        {% set left_column_class = 'lg-flex-2-3' %}
        {% set right_column_class = 'lg-flex-1-3' %}
      {% else %}
        {% set left_column_class = 'lg-flex-1-2' %}
        {% set right_column_class = 'lg-flex-1-2' %}
      {% endif %}
      {% if (settings.stack == 0) %}
        {% set left_column_class = left_column_class|replace({'lg-': ''}) %}
        {% set right_column_class = right_column_class|replace({'lg-': ''}) %}
      {% else %}
        {% set left_column_class = left_column_class ~ ' flex-1-1' %}
        {% set right_column_class = right_column_class ~ ' flex-1-1' %}
      {% endif %}
      {% if settings.grid %}
        {{ content.left }}
      {% else %}
        <div {{ region_attributes.left.addClass('layout__region', 'layout__region--left', 'flex-grow-0', left_column_class, settings.left_region_color) }}>
          {{ content.left }}
        </div>
      {% endif %}


      {% if content.right %}
        {% if settings.grid %}
          {{ content.right }}
        {% else %}
          <div {{ region_attributes.right.addClass('layout__region', 'layout__region--right', 'flex-grow-0', right_column_class, settings.right_region_color) }}>
            {{ content.right }}
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endif %}
